.movie-card {
  position: relative;
  width: 360px;
  height: 233px
}

.movie-card__pic {
  width: 100%;
  height: auto;
  height: 201px;
  flex-shrink: 0;
  border-radius: 5px;
}

.movie-card__description-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 14px;
  margin-right: 14px;
  height: 24px;
}

.movie-card__description {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  max-width: 250px;
}

.movie-card__duration {
  color: #8b8b8b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  margin: 0;
  width: 52px;
  height: 18px;
  border-radius: 3px;
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card__icon {
  display: none;
}

.movie-card__icon:hover {
  display: block;
  position: absolute;
  transform: translate(275px, -192px);
  z-index: 2;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.movie-card__link:hover + .movie-card__icon {
  display: block;
  position: absolute;
  transform: translate(275px, -192px);
  z-index: 2;
}

.movie-card__link:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.movie-card__link:hover {
  display: inline;
  cursor: pointer;
}

.icon_save {
  display: block;
  transform: translate(326px, -190px);
}

.icon_saved {
  display: block;
  transform: translate(326px, -190px);
}

.icon_saved:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.movie-card__link:hover + .icon_delete {
  display: block;
  position: absolute;
  transform: translate(326px, -190px);
  z-index: 2;
}

.icon_delete:hover {
  display: block;
  position: absolute;
  transform: translate(326px, -190px);
  z-index: 2;
}

@media screen and (max-width: 850px) {
  .movie-card__description-container {
    margin-top: 23px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  .movie-card__description {
    font-size: 12px;
  }

  .movie-card {
    max-width: 300px;
  }

  .movie-card__description-container {
    margin-top: 12px;
  }
}
