.movies {
  background-color: #202020;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 78px;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  column-gap: 30px;
  row-gap: 50px;
  min-height: 295px;
  justify-items: center;
}

.movies-container_button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 175px;
  margin-top: 8px;
  margin-bottom: 38px;
}

.movies-container__button {
  width: 320px;
  height: 36px;
  background-color: #202020;
  border-radius: 5px;
  border: 1px solid #424242;
  outline: none;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 60px;
}

.movies-container__button:hover {
  opacity: 0.7;
  transition: 0.2s;
}

@media screen and (max-width: 890px) {
  .movies {
    padding-left: 30px;
    padding-right: 30px;
  }

  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    column-gap: 30px;
    row-gap: 38px;
    min-height: 295px;
  }

  .movies-container__button {
    margin-top: 44px;
  }

  .movies-container_button-container {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 450px) {
  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 34px;
    min-height: 295px;
  }

  .movies {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
  }

  .movies-container {
    row-gap: 31px;
  }

  .movies {
    padding-top: 50px;
  }

  .movies-container__button {
    margin-top: 46px;
    max-width: 240px;
  }

  .movies-container_button-container {
    height: 175px;
    margin-top: 8px;
    margin-bottom: 26px;
  }
}
