.techs {
  padding: 100px 70px;
  background-color: #272727;
}

.techs__title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 26px;
}

.techs__text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 0;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.techs__container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tech__name {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.46px;
  }

  .techs__text {
    margin-bottom: 83px;
  }

  .tech__name {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 450px) {
  .techs {
    padding: 70px 18px;
    background-color: #202020;
  }

  .techs__title {
    margin-top: 50px;
    margin-bottom: 12px;
  }

  .techs__title {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__text {
    margin-bottom: 50px;
  }

  .techs__container {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
}
