.about-me {
  width: 100%;
  padding: 110px 70px 101px;
  box-sizing: border-box;
  background: #202020;
}

.about-me__photo {
  height: 327px;
  border-radius: 10px;
  margin-top: 66px;
}

.about-me__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about-me__title {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  margin-top: 66px;
}

.about-me__subtitle {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  margin-top: 18px;
}

.about-me__github {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: opacity 1s;
  margin-top: 99px;
  display: block;
}

.about-me__github:hover {
  opacity: 0.7;
}

.line_color_grey {
  background-color: #424242;
}

.about-me__text {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  max-width: 590px;
  margin-top: 26px;
}

@media screen and (max-width: 850px) {
  .about-me {
    padding-top: 0px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
    margin-top: 20px;
    max-width: 358px;
  }

  .about-me__photo {
    height: 307px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-top: 63px;
  }

  .about-me {
    padding: 90px 50px;
  }

  .about-me__github {
    margin-top: 87px;;
  }
}

@media screen and (max-width: 590px) {
  .about-me {
    padding: 70px 0px;
    max-width: 292px;
    margin: 0 auto;
  }

  .about-me__container {
    display: block;
  }

  .about-me__photo {
    height: 100%;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 0px;
  }

  .about-me__title {
    margin-top: 36px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__github {
    margin-top: 40px;
  }
}
